footer {
    padding: 60px 20px;
    background: #000000;
    color: white;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
}

.social-links a {
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;

    font-size: 1.8rem;
}

.social-links a i {
    line-height: 1; /* Esto elimina el espacio vertical sobrante del texto */
    display: block; /* Hace que el icono se comporte como un bloque sólido */
}

.social-links a:hover {
    background: #c9a961;
    transform: scale(1.1);
}